body {
    background-color: black;
}
.GOA {
    text-align: center;
    color: green;
}
#Goa {
    text-align: center;
    color: green;
}
#facebook {
    color: blue;
}
.image {
    margin-left: 500px;
}